*{
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

header .brand-logo img {
  width: 8vw;
}

header nav a {
  text-decoration: none;
  color: black;
  margin-right: 4vw;
  text-transform: uppercase;
}

header nav a.active {
color: red;
}

header .sign-up-btn button {
  padding: 0.5vw 1.5vw;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
}

#title-text {
  position: absolute;
  top: 20vw;
  left: 20vw;
  width: 25vw;
}






