*{
  margin: 0;
  padding: 0;
}


nav{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  justify-content: space-around;
}

.nav-left{
  flex-basis:20%;
  padding-bottom: 35px;

}

.nav-left img{
  width: 75%;
  height: 121px;
  padding: 16px 34px 42px 36px;
}


.menu{
  flex-basis: 50%;
  margin-top: 45px;
}

.menu ul li{
  display: inline;
  
 
}

.menu ul li a{
  text-decoration: none;
  color:black;
  font-size: 3rem;
  padding: 55px  56px 75px 124px;

}

ul{
  padding: 10px;
}


nav.gym{
  display: flex;
  flex-basis: 15%;
  justify-content: space-between;
  

}

div.gym{
  margin-top: 49px;
}

div.gym2{
  margin-top: 45px
}



.gym img{
width: 53px;
top: 75%;
padding-right: 81px;

}
.gym2 button {
  margin-left: 5px;
  font-size: 3rem;
  background-color: red;
  color: #FFFF;
  border-radius: 5px;
  justify-content  :center ;


}

.image-container {
  position: relative;
}

.image-container .background img {
  width: 100%;
}

.image-container .foreground {
  position: absolute;
  top: 33%;
  left: 22%;
}

.image-container .foreground img {
  width: 165%;
}

.workout{
  height: 100vh;
  display: flex;
}

.workout1{
  position: relative;
  left:-1px;
  width: 277%;
  height: 35%;
  margin-right: -95px;
  background: #808080;

}

.workout2{
  position:relative;
  left: -71px;
  width: 300%;
  height: 35%;
  background: #808080;
}


.workout3{
  position:relative;
  width: 264%;
  height: 35%;
  left: -136px;
  margin-right: -212px;
  background: #ff0000;
}