*{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
}

header .brand-logo img {
  width: 8vw;
}

header nav a {
  text-decoration: none;
  color: black;
  margin-right: 4vw;
  text-transform: uppercase;
}

header nav a.active {
color: red;
}

header .sign-up-btn button {
  padding: 0.5vw 1.5vw;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
}

#title-text {
  position: absolute;
  top: 20vw;
  left: 20vw;
  width: 25vw;
}

.row {
  display: flex;
}

.col-sm-3 .box1 {
  background-color: black;
    color: #fff;
    text-align: end;
    width: 33vw;
}

.col-sm-3 .box2 {
  background-color: #EEEEEE;
    color: #fff;
    text-align: center;
    width: 32vw;
}

.col-sm-3 .box3 {
  background-color: red;
    color: #fff;
    text-align: start;
    width: 33vw;
}

.col-sm-3 .box1 img {
  width: 4.7vw;
  padding: 2vw 6vw;
}

.col-sm-3 .box1 h2 {
  padding-right: 3.5vw;
}

.col-sm-3 .box1 p {
  line-height: 25px;
  text-indent: 16px;
  padding: 1vw 3vw 2vw 0vw;
  font-size: 12px;
  position: relative;
  right: 1rem;
}

.col-sm-3 .box2 img {
  width: 4.2vw;
  padding: 2vw 1vw;
  color: black;
}

.col-sm-3 .box2 h2 {
  padding-bottom: 1vw;
  color: red;
}

.col-sm-3 .box2 p {
  line-height: 25px;
  text-indent: 16px;
  color: black ;
  padding: 0vw 0vw 2vw 0vw;
  font-size: 12px;
}

.col-sm-3 .box3 img {
  width: 3.1vw;
  padding: 2vw 7vw;
}

.col-sm-3 .box3 h2 {
  padding: 0vw 0vw 1vw 4.6vw;
}

.col-sm-3 .box3 p {
  line-height: 25px;
  text-indent: 16px;
  padding: 0vw 2vw 2vw 3vw;
}

.title .gym {
  width: 100%;
}
.couple-section{
  width:80vw;
  margin:2vw auto 0 auto;
  display:flex;
}

.hero .bck-ground-logo {
  position: absolute;
  width: 34vw;
  left: 64vw;
  padding: 0;
  margin: 0; 
}

.couple-logo {
  position: absolute;
  top: 67vw;
  right: 15vw;
  width: 18vw;
}

.heading-img {
  padding: 0vw 0vw 0vw 11vw;
  width: 24%;
}

.heading-img .h2 {
  padding-bottom: 10px;
  font-size: 15px;
}

.heading-img h3 {
  padding-bottom: 1rem;
  font-size: 42px;
}

.trainer {
  padding-left: 24%;
}

.trainer img {
  position: relative;
  top: 3vw;
  right: 6vw;
}

.trainer2 {
padding-left: 24%;
}

.trainer2 img {
  position: relative;
  right: 6vw;
  top: 3vw;
}

.trainer h2 {
  padding-bottom: 1rem;
}

.trainer2 h2 {
  padding-bottom: 1rem;
}

section.features {
  text-align: center;
  background-color: black;
  height: 150vh;
  color: white;
}

.feature {
  position: relative;
  padding-top: 0;
}

.features-img {
  width: 40vw;

}
.features p {
  color: white;
  position: relative;
  bottom: 3vw
}

.features .accessories {
  padding-top: 2%;
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2%;
  bottom: 3vw; 
}


.features .feature .feature-box{
 
   display: flex;
  justify-content: center;
  padding-left:10%;
  padding-right:10%;
 
}

.features .feature .feature-box div{
  background-color: #dfd7d748;
  padding:2%;
  height: 35vh;
  padding-bottom:3%;

  

  
 
 
  
}

.features .feature .feature-box div h1{
  font-size: 1.5rem;
  
}
.features .feature .feature-box div img{
  padding-top:5%;
  width:50%;
  
}

.features .feature .feature-box div p{
  margin-top:50px;
  font-size: 0.9rem;
   
 
}


.accessories p{
  position: relative;
  top: 0rem;
}
 

 
 

.pants-box {
  background-color: #dfd7d748;
  padding: 5px;
}

.girl-pic img {
  width: 16vw;
  position: relative;
  left: 33vw;
  bottom: 5vw
}

.read-me {
  position: relative;
    left: 36vw;
    bottom: 15vw;
    background-color: red;
    height: 10vw;
    width: 65vw;
    color: white
}

.read-me h1 {
  font-size: 35px;
  padding: 1rem 5rem
}

.read-me button{
  width: 8vw;
  height: 34px;
  position: relative;
  left: 5vw;
  top: 1vw;
  background-color: red;
  border-color: white;
  color: white
}

.read-me p {
  font-size: 17px;
    padding: 0rem 5rem
}



.pants-box h1 {
  font-size: 22px;
  padding: 1rem 0rem 2rem 0rem; 
}

.pants-box p {
  padding: 1rem 0rem 1rem 0rem;
}

.hoodie-box {
  background-color: #dfd7d748;
  padding: 5px;
}

.hoodie-box h1 {
  font-size: 22px;
  padding: 1rem 0rem 2rem 0rem; 
}

.hoodie-box p {
  padding: 1rem 0rem 1rem 0rem;
}

.cap-box {
  background-color: #dfd7d748;
  padding: 5px;
}

.cap-box h1 {
  font-size: 22px;
  padding: 1rem 0rem 2rem 0rem; 
}

.cap-box p {
  padding: 2rem 0rem 0rem 0rem;
}










